<!DOCTYPE html>
<html>
    <head>

    </head>

    <body>
        <div class="container">
            <br>
            <br>
            <div class="row">
              <div class="col-3">
                <mat-card style="max-width: 15rem;">
                  <mat-card-content style="padding-bottom: 1rem;">
                <div class="btn-toolbar" >
            <button class="btn btn-primary pull-left" id="backtoauth"  
            class="btn btn-primary" value="Landing" (click)="toLanding()">Log out</button>
            <button class="btn btn-primary pull-right" id="gotoprofile"  style="margin-left: 15px"
            class="btn btn-primary" value="Profile" (click)="toProfile()">Profile
            </button>
          </div>
          <br>
          <figure class="figure mx-3">
            <img class="img-fluid" style="max-width: 60%"
            src={{useravatar}}>
          </figure>
          <h2>{{username}}</h2>
          <figure class="figure">
            <img src="https://cdn-icons-png.flaticon.com/128/2190/2190552.png?uid=R24929538&ga=GA1.1.731814946.1695097872&track=ais"
                        style="max-width: 10%">
            {{userstatus}}
          </figure>
          
          <form class="d-inline"  [formGroup]="staForm" id="staForm" (ngSubmit)="updatestatus()">
            <div class="form-floating mb-3 mt-3 col-md-8">
              <input type="text"  class="form-control" name="sta" formControlName="sta" >
              <label for="sta" class="form-label">New Status here.</label>
            </div>

            <div class=" mb-3 mt-3 col-md-8">
                <input type="submit" id="updatesta" class="form-control btn btn-primary" value="Update">
            </div>
          </form>
        </mat-card-content>
        </mat-card>
          <br>
         
          <mat-toolbar color="primary" style="width: 15rem; height: 50px;">
            <span>Following</span>
          </mat-toolbar>
              <div style="margin-top: 20px;">
                <div  *ngFor="let profile of profiles" >
                <mat-card style="max-width: 15rem;">
                    <mat-card-content style="padding-bottom: 1rem;">
                            <img mat-card-md-image 
                            src={{profile.img}} class="figure-img img-fluid rounded" >
                            <br>
                            <h5>{{profile.followname}}</h5>
                        <figure class="figure">
                            <img src="https://cdn-icons-png.flaticon.com/128/2190/2190552.png?uid=R24929538&ga=GA1.1.731814946.1695097872&track=ais"
                        style="max-width: 10%" >
                            {{profile.followstatus}}
                        </figure>
                        <mat-card-actions>
                            <button mat-raised-button (click)="unfollow(profile)">Unfollow</button> 
                    </mat-card-actions>
                    </mat-card-content>
                </mat-card>
                <br>
                </div>
            <form class="d-inline"  [formGroup]="followForm" id="followForm"  (ngSubmit)="add()">
                <div class="form-floating mb-3 mt-3 col-md-8">
                  <input type="text"  class="form-control" name="fol" formControlName="fol" >
                  <label for="fol" class="form-label">Search name to follow</label>
                </div>
                <div class=" mb-3 mt-3 col-md-8">
                    <input type="submit" id="updatesta" class="form-control btn btn-primary" [disabled]="followForm.invalid" value="To Follow">
                    <div >
                      <small *ngIf="existuser" class="text-danger" style="font-size: .7em;">No Such User Found. </small>
                  </div>
                </div>
              </form>
              </div>
              
            </div>
              <div class="col-9">
                <app-posts [message]="userid">
                </app-posts>
              </div>
            </div>
            
        </div>

    </body>
</html>

