

  .my-container-wrap {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .my-container-wrap-center {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .example-card {
    justify-self: left;
    width: 17rem;
    margin: 1rem;
  }

